body {
    background-color: #f1f2f4;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

p, ul, ol {
    font-size: 24px;
    font-size: 1.5rem;
}

h1 {
    color: #161a1d;
    font-size: 6.5vw;
    text-shadow: 3px 2px #FFFFFF;
    text-align: center;
}

header h2 {
    text-align: center;
    font-variant: small-caps;
    font-size: 4.5vw;
}

img {   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


h2 {
    color: #374048;    
    font-size: 3rem;
}

section, article {
    padding: 0.2% 5% 2%;    
}

section:nth-child(odd) {
    background-color: #FFFFFF;
}

p {
    color: #4e5965;    
}

a {
    color: #374048;
    text-decoration: underline dotted;
}

ul, ol {
    color: #4e5965;        
}

li {
    margin: 1.5%;
}

blockquote {
    margin: auto;
    width: 80%;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 1% 2%;    
    color: #708090;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.8;
}



